PORT=3000
MONGO_URI=
FRONT_URL=
CLOUDINARY_URL=
SUPER_ADMIN_SECRET=
NODE_ENV=development
JWT_SECRET=
GOOGLE_CLIENT_ID=clientedeOauth
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=correo@gmail.com
SMTP_PASS=claveclientecorreo
SMTP_FROM_NAME=PhotoWall
FRONTEND_URL=
ADMIN_EMAIL=tu-correo-personal@gmail.com
BOLD_IDENTITY_KEY=tu_llave_de_identidad_de_pruebas_o_produccion
BOLD_SECRET_KEY=tu_llave_secreta_de_pruebas_o_produccion
BACKEND_PUBLIC_URL=https://a1b2-190-24-xx-xx.ngrok-free.app (URL PUBLICO PARA BOLD)