<!-- PORTADA -->
<div
  class="event-cover"
  [style.backgroundImage]="'url(' + (event.coverImage || defaultCover) + ')'"
>

  <!-- FOTO PERFIL -->
  <div class="event-profile">
    <img [src]="event.profileImage || defaultProfile" />
  </div>

</div>
<div class="text-center my-3">
  <img
    *ngIf="event.qrCode"
    [src]="event.qrCode"
    width="180"
    class="shadow rounded"
  />
</div>

<!-- BOTONES -->
<div class="event-actions text-center my-3">
  <button class="btn btn-outline-primary mx-1" (click)="shareQr()">
    📲 QR
  </button>

  <button class="btn btn-outline-secondary mx-1" (click)="editEvent()">
    ✏️ Editar
  </button>

  <button class="btn btn-outline-success mx-1" (click)="goToProjection()">
    ▶️ Proyectar
  </button>

  <button class="btn btn-outline-dark mx-1" (click)="toggleGuests()">
    👥 Invitados
  </button>
  <button class="btn btn-outline-dark mx-1" (click)="toggleGuests()">
    👥 Subir foto
  </button>
</div>

<!-- INVITADOS -->
<div *ngIf="showGuests" class="container mb-4">
<h5>Invitados ({{ guests.length }})</h5>
  <ul class="list-group">
<li *ngFor="let guest of guests">
      {{ guest.name }}
    </li>
  </ul>
</div>

<!-- GALERÍA -->
<div class="container">
  <h5>Galería de fotos</h5>

  <div class="row">
    <div
      class="col-6 col-md-3 mb-3"
*ngFor="let photo of photos"
    >
      <img
        [src]="photo.imageUrl"
        class="img-fluid rounded shadow-sm"
      />
    </div>
  </div>
</div>
